
{% extends "base.html" %}
{% block content %}
<section class="form-card">
  <h2>Edit Product</h2>
  <form method="POST" class="form-grid">
    <input type="text" name="title" value="{{ product.title }}" placeholder="Product Title" required />
    <select name="category" required>
      {% for c in categories %}
      <option value="{{ c }}" {% if product.category==c %}selected{% endif %}>{{ c }}</option>
      {% endfor %}
    </select>
    <textarea name="description" placeholder="Description" required>{{ product.description }}</textarea>
    <input type="number" name="price" value="{{ product.price }}" placeholder="Price" step="0.01" required />
    <button type="submit">Update</button>
  </form>
</section>
{% endblock %}
